---
export const prerender = true;
import { getCollection } from 'astro:content'
import { Image, getImage } from 'astro:assets'
import Layout from '@layouts/Layout.astro'
import Container from '@components/container.astro'
import Sectionhead from '@components/sectionhead.astro'

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection('team', ({ data }) => {
  return !data.draft && data.publishDate < new Date()
})

import type { Frontmatter } from '~/config'
import { SiteMetadata } from '~/config'
import coverSVG from '~/assets/hero.png'
import socialImage from '~/assets/hero.png'

const frontmatter: Frontmatter = {
  title: 'About' + ' | ' + SiteMetadata.title,
  description: SiteMetadata.description,
  coverSVG: coverSVG,
  socialImage: socialImage,
  publishDate: SiteMetadata.buildTime,
}
---

<Layout frontmatter={frontmatter}>
  <Container>
    <Sectionhead>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">We are a small passionate team.</Fragment>
    </Sectionhead>
    <ul>
      <template x-for="i in 10">
        <li x-text="i"></li>
      </template>
    </ul>
    <div class="colors my-24 grid gap-8 md:grid-cols-2">
      <div class="flex flex-col place-content-center">
        <span class="w-full text-center">Primary</span>
        <div
          class="Card-eku6yp-0 mx-auto flex w-full max-w-lg flex-col overflow-hidden rounded-lg shadow">
          <div class="Palette-sc-1dpuzey-0 flex overflow-hidden">
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#2e3440"
                class="Color-ootr8m-0 h-full w-full bg-primary-darker">
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#2e3440"
                class="Color-ootr8m-0 h-full w-full bg-primary-dark">
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#3b4252"
                class="Color-ootr8m-0 h-full w-full bg-primary">
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#434c5e"
                class="Color-ootr8m-0 h-full w-full bg-primary-light">
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#4c566a"
                class="Color-ootr8m-0 h-full w-full bg-primary-lighter">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col place-content-center">
        <span class="w-full text-center">Background</span>
        <div
          class="Card-eku6yp-0 mx-auto flex w-full max-w-lg flex-col overflow-hidden rounded-lg shadow">
          <div class="Palette-sc-1dpuzey-0 flex overflow-hidden">
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#2e3440"
                class="Color-ootr8m-0 h-full w-full bg-background-darker">
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#2e3440"
                class="Color-ootr8m-0 h-full w-full bg-background-dark">
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#3b4252"
                class="Color-ootr8m-0 h-full w-full bg-background">
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#434c5e"
                class="Color-ootr8m-0 h-full w-full bg-background-light">
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#4c566a"
                class="Color-ootr8m-0 h-full w-full bg-background-lighter">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col place-content-center">
        <span class="w-full text-center">Polar Night</span>
        <div
          class="Card-eku6yp-0 mx-auto flex w-full max-w-lg flex-col overflow-hidden rounded-lg shadow">
          <div class="Palette-sc-1dpuzey-0 flex overflow-hidden">
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#2e3440"
                class="Color-ootr8m-0 h-full w-full bg-[#242933]">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #242933
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                36 41 51
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#2e3440"
                class="Color-ootr8m-0 h-full w-full bg-nord0">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #2e3440
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                46 52 64
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#3b4252"
                class="Color-ootr8m-0 h-full w-full bg-nord1">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #3b4252
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                59 66 82
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#434c5e"
                class="Color-ootr8m-0 h-full w-full bg-nord2">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #434c5e
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                67 76 94
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#4c566a"
                class="Color-ootr8m-0 h-full w-full bg-nord3">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #4c566a
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                76 86 106
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col place-content-center">
        <span class="w-full text-center">Snow Storm</span>
        <div
          class="Card-eku6yp-0 mx-auto flex w-full max-w-lg flex-col overflow-hidden rounded-lg shadow">
          <div class="Palette-sc-1dpuzey-0 flex overflow-hidden">
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#2e3440"
                class="Color-ootr8m-0 h-full w-full bg-nord4">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #d8dee9
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                216 222 233
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#3b4252"
                class="Color-ootr8m-0 h-full w-full bg-nord5">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #e5e9f0
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                229 233 240
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#434c5e"
                class="Color-ootr8m-0 h-full w-full bg-nord6">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #eceff4
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                236 239 244
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#434c5e"
                class="Color-ootr8m-0 h-full w-full bg-[#f2f4f8]">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #f2f4f8
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                242 244 248
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col place-content-center">
        <span class="w-full text-center">Frost</span>
        <div
          class="Card-eku6yp-0 mx-auto flex w-full max-w-lg flex-col overflow-hidden rounded-lg shadow">
          <div class="Palette-sc-1dpuzey-0 flex overflow-hidden">
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#2e3440"
                class="Color-ootr8m-0 h-full w-full bg-nord7">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #8fbcbb
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                143 188 187
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#3b4252"
                class="Color-ootr8m-0 h-full w-full bg-nord8">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #88c0d0
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                136 192 208
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#434c5e"
                class="Color-ootr8m-0 h-full w-full bg-nord9">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #81a1c1
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                129 161 193
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#434c5e"
                class="Color-ootr8m-0 h-full w-full bg-nord10">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #5e81ac
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                94 129 172
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col place-content-center">
        <span class="w-full text-center">Aurora</span>
        <div
          class="Card-eku6yp-0 mx-auto flex w-full max-w-lg flex-col overflow-hidden rounded-lg shadow">
          <div class="Palette-sc-1dpuzey-0 flex overflow-hidden">
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#2e3440"
                class="Color-ootr8m-0 h-full w-full bg-nord11">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #bf616a
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                191 97 106
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#3b4252"
                class="Color-ootr8m-0 h-full w-full bg-nord12">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #d08770
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                208 135 112
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#434c5e"
                class="Color-ootr8m-0 h-full w-full bg-nord13">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #ebcb8b
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                235 203 139
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#434c5e"
                class="Color-ootr8m-0 h-full w-full bg-nord14">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #a3be8c
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                163 190 140
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#434c5e"
                class="Color-ootr8m-0 h-full w-full bg-nord15">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #b48ead
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                180 142 173
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="-mb-3 mt-4">
      <div
        class="not-prose relative overflow-hidden rounded-xl bg-slate-50 dark:bg-slate-800/25">
        <div
          style="background-position:10px 10px"
          class="absolute inset-0 bg-grid-slate-300/50 [mask-image:linear-gradient(0deg,rgba(255,255,255,0.1),rgba(255,255,255,0.5))] dark:bg-grid-slate-700/75">
        </div><div class="relative overflow-auto rounded-xl p-8">
          <p
            class="text-center font-source text-lg ordinal slashed-zero lining-nums tabular-nums text-slate-900 dark:text-slate-200">
            1234567890
          </p>
          <p
            class="text-center font-source text-lg ordinal text-slate-900 dark:text-slate-200">
            1st
          </p>
        </div><div
          class="pointer-events-none absolute inset-0 rounded-xl border border-black/5 dark:border-white/5">
        </div>
      </div>
    </div>
    <div class="relative overflow-auto rounded-xl p-8">
      <div class="flex flex-col gap-8">
        <div>
          <span
            class="mb-3 font-mono text-sm font-medium text-slate-500 dark:text-slate-400">
            font-sans: Inter Variable
          </span>
          <p
            class="font-sans font-medium text-slate-900 ftext-3xl dark:text-slate-200">
            The quick brown fox jumps over the lazy dog.
          </p>
        </div>
        <div>
          <span
            class="mb-3 font-mono text-sm font-medium text-slate-500 dark:text-slate-400">
            font-serif
          </span>
          <p
            class="font-serif font-medium text-slate-900 ftext-3xl dark:text-slate-200">
            The quick brown fox jumps over the lazy dog.
          </p>
        </div>
        <div>
          <span
            class="mb-3 font-mono text-sm font-medium text-slate-500 dark:text-slate-400">
            font-mono: Fira Code Variable
          </span>
          <p
            class="font-mono font-medium text-slate-900 ftext-3xl dark:text-slate-200">
            The quick brown fox jumps over the lazy dog.
          </p>
        </div>
        <div>
          <span
            class="mb-3 font-mono text-sm font-medium text-slate-500 dark:text-slate-400">
            font-source: Source Sans Pro
          </span>
          <p
            class="font-source font-medium text-slate-900 ftext-3xl dark:text-slate-200">
            The quick brown fox jumps over the lazy dog.
          </p>
        </div>
        <div>
          <span
            class="mb-3 font-mono text-sm font-medium text-slate-500 dark:text-slate-400">
            font-nunito: Nunito Variable
          </span>
          <p
            class="font-nunito font-medium text-slate-900 ftext-3xl dark:text-slate-200">
            The quick brown fox jumps over the lazy dog.
          </p>
        </div>
      </div>
    </div>
    <div class="mx-auto mt-16 flex max-w-4xl flex-col gap-3">
      <h2 class="text-3xl font-bold">Empowering the world with Astro.</h2>
      <p class="text-lg leading-relaxed text-text-lighter">
        We're a multi-cultural team from around the world! We come from diverse
        backgrounds, bringing different personalities, experiences and skills to
        the job. This is what makes our team so special.
      </p>
    </div>
    <div class="mx-auto mt-12 grid max-w-4xl gap-10 md:grid-cols-3">
      {
        publishedTeamMembers.map(teamMemberEntry => (
          <div class="group">
            <div class="aspect-square w-full">
              <Image
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                width={[280]}
                height="280"
                aspectRatio="1/1"
                background="#ffffff"
                fit="cover"
                position="center"
                class="aspect-square w-full rounded-md object-cover transition group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">{teamMemberEntry.data.name}</h2>
              <h3 class="text-sm text-slate-500">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div>
    <div class="mx-auto">
      <div class="relative isolate bg-white pb-2 pt-2 sm:pt-2">
        <div
          class="absolute -inset-x-0 bottom-0 bg-gradient-to-t from-gray-50 pt-96">
        </div>
        <div
          class="absolute inset-x-0 top-1/2 -z-10 -translate-y-1/2 transform-gpu overflow-hidden opacity-30 blur-3xl">
          <svg
            viewBox="0 0 1313 771"
            aria-hidden="true"
            class="ml-[max(50%,38rem)] w-[82.0625rem]"
            ><path
              id="bc169a03-3518-42d4-ab1e-d3eadac65edc"
              fill="url(#85a0eca5-25f1-4ab9-af84-4e2d8d9cdbf3)"
              d="M360.508 589.796 231.671 770.522 0 498.159l360.508 91.637 232.034-325.485c1.485 150.396 51.235 393.965 238.354 165.069C1064.79 143.261 1002.42-107.094 1171.72 46.97c135.44 123.252 148.51 335.641 138.11 426.428L971.677 339.803l24.062 411.461-635.231-161.468Z"
            ></path><defs
              ><linearGradient
                id="85a0eca5-25f1-4ab9-af84-4e2d8d9cdbf3"
                x1="1313.17"
                x2="-88.881"
                y1=".201"
                y2="539.417"
                gradientUnits="userSpaceOnUse"
                ><stop stop-color="#52997a"></stop><stop
                  offset="1"
                  stop-color="#67ad8e"></stop></linearGradient
              ></defs
            ></svg
          >
        </div>
        <div
          class="absolute inset-x-0 top-0 -z-10 flex transform-gpu overflow-hidden pt-32 opacity-25 blur-3xl sm:pt-40 xl:justify-end">
          <svg
            viewBox="0 0 1313 771"
            aria-hidden="true"
            class="ml-[-22rem] w-[82.0625rem] flex-none origin-top-right rotate-[30deg] xl:ml-0 xl:mr-[calc(50%-12rem)]"
            ><use href="#bc169a03-3518-42d4-ab1e-d3eadac65edc"></use></svg
          >
        </div>
        <div class="mx-auto max-w-7xl overflow-x-hidden px-6 lg:px-8">
          <div class="relative mx-auto max-w-xl text-center">
            <div class="absolute inset-0 -z-20 flex items-end justify-center">
              <div class="flex translate-y-6 -rotate-12 space-x-3">
                <span
                  class="inline-flex h-28 w-28 items-center justify-center rounded-lg bg-green-600 opacity-10"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    class="h-20 w-20 text-white"
                    ><path
                      fill-rule="evenodd"
                      d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                      clip-rule="evenodd"></path></svg
                  ></span
                ><span
                  class="inline-flex h-28 w-28 items-center justify-center rounded-lg bg-green-600 opacity-10"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    class="h-20 w-20 text-white"
                    ><path
                      fill-rule="evenodd"
                      d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                      clip-rule="evenodd"></path></svg
                  ></span
                ><span
                  class="inline-flex h-28 w-28 items-center justify-center rounded-lg bg-green-600 opacity-10"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    class="h-20 w-20 text-white"
                    ><path
                      fill-rule="evenodd"
                      d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                      clip-rule="evenodd"></path></svg
                  ></span
                ><span
                  class="inline-flex h-28 w-28 items-center justify-center rounded-lg bg-green-600 opacity-10"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    class="h-20 w-20 text-white"
                    ><path
                      fill-rule="evenodd"
                      d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                      clip-rule="evenodd"></path></svg
                  ></span
                ><span
                  class="inline-flex h-28 w-28 items-center justify-center rounded-lg bg-green-600 opacity-10"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    class="h-20 w-20 text-white"
                    ><path
                      fill-rule="evenodd"
                      d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                      clip-rule="evenodd"></path></svg
                  ></span
                >
              </div>
            </div><div class="relative z-10">
              <h2
                class="text-xl font-semibold leading-8 tracking-tight text-gray-600">
                Don't just take our word for it.
              </h2><p
                class="mt-2 text-3xl font-bold tracking-tight text-gray-800 sm:text-4xl">
                You've rated us<br /><span
                  class="text-aqua-forest-600 mt-1 text-6xl sm:text-7xl"
                  >Excellent</span
                >
              </p>
            </div>
          </div>
          <div
            class="z-30 mx-auto mt-16 grid max-w-2xl grid-cols-1 grid-rows-1 gap-8 text-sm leading-6 text-gray-900 sm:mt-20 sm:grid-cols-2 xl:mx-0 xl:max-w-none xl:grid-flow-col xl:grid-cols-4">
            <figure
              class="col-span-2 hidden sm:block sm:rounded-2xl sm:bg-white sm:shadow-lg sm:ring-1 sm:ring-gray-900/5 xl:col-start-2 xl:row-end-1">
              <blockquote
                class="px-12 pb-12 pt-8 text-xl font-semibold leading-8 tracking-tight text-gray-900">
                <div class="flex-shrink-0 pb-4">
                  <span
                    class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                      class="h-4 w-4 text-white"
                      ><path
                        fill-rule="evenodd"
                        d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                        clip-rule="evenodd"></path></svg
                    ></span
                  ><span
                    class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                      class="h-4 w-4 text-white"
                      ><path
                        fill-rule="evenodd"
                        d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                        clip-rule="evenodd"></path></svg
                    ></span
                  ><span
                    class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                      class="h-4 w-4 text-white"
                      ><path
                        fill-rule="evenodd"
                        d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                        clip-rule="evenodd"></path></svg
                    ></span
                  ><span
                    class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                      class="h-4 w-4 text-white"
                      ><path
                        fill-rule="evenodd"
                        d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                        clip-rule="evenodd"></path></svg
                    ></span
                  ><span
                    class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                      class="h-4 w-4 text-white"
                      ><path
                        fill-rule="evenodd"
                        d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                        clip-rule="evenodd"></path></svg
                    ></span
                  >
                </div><p>
                  “Recently migrated to Zume after 7 years with TSO Host. Such
                  an improvement, I'm really impressed with configuration of the
                  server and access to various services such as Litespeed
                  Caching, Auto-SSL, Malware protection and image optimisation.
                  The support during the migration has been excellent. Would
                  thoroughly recommend.”
                </p>
              </blockquote><figcaption
                class="flex items-center gap-x-4 border-t border-gray-900/10 px-6 py-4">
                <div class="flex-auto">
                  <div class="font-semibold">Dave Bowyer</div><div
                    class="text-gray-600">
                    Verified Customer
                  </div>
                </div>
              </figcaption>
            </figure><div class="space-y-8 xl:contents xl:space-y-0">
              <div class="space-y-8 xl:row-span-2">
                <figure
                  class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
                  <div class="flex-shrink-0 pb-2">
                    <span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    >
                  </div><blockquote class="text-gray-900">
                    <p>
                      “Excellent Host the best I ever had, they love to help you
                      and take time for you.”
                    </p>
                  </blockquote><figcaption
                    class="mt-6 flex items-center gap-x-4">
                    <div>
                      <div class="font-semibold">David</div><div
                        class="text-gray-600">
                        Verified Customer
                      </div>
                    </div>
                  </figcaption>
                </figure><figure
                  class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
                  <div class="flex-shrink-0 pb-2">
                    <span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    >
                  </div><blockquote class="text-gray-900">
                    <p>
                      “Fantastic service and great support. Ross is always
                      around when you need him and I haven't been offline yet.”
                    </p>
                  </blockquote><figcaption
                    class="mt-6 flex items-center gap-x-4">
                    <div>
                      <div class="font-semibold">Mike</div><div
                        class="text-gray-600">
                        Verified Customer
                      </div>
                    </div>
                  </figcaption>
                </figure><figure
                  class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
                  <div class="flex-shrink-0 pb-2">
                    <span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    >
                  </div><blockquote class="text-gray-900">
                    <p>
                      “Best choice in the UK! The day I made my purchase I was
                      able to provision my site and setup my email.”
                    </p>
                  </blockquote><figcaption
                    class="mt-6 flex items-center gap-x-4">
                    <div>
                      <div class="font-semibold">Barry</div><div
                        class="text-gray-600">
                        Verified Customer
                      </div>
                    </div>
                  </figcaption>
                </figure>
              </div><div class="space-y-8 xl:row-start-1">
                <figure
                  class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
                  <div class="flex-shrink-0 pb-2">
                    <span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    >
                  </div><blockquote class="text-gray-900">
                    <p>
                      “I’m new to Zume but I’m very pleased with the customer
                      service I have received so far.”
                    </p>
                  </blockquote><figcaption
                    class="mt-6 flex items-center gap-x-4">
                    <div>
                      <div class="font-semibold">Ros</div><div
                        class="text-gray-600">
                        Verified Customer
                      </div>
                    </div>
                  </figcaption>
                </figure><figure
                  class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
                  <div class="flex-shrink-0 pb-2">
                    <span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    >
                  </div><blockquote class="text-gray-900">
                    <p>
                      “Great service, even better customer service. The few
                      issues I've had have been resolved quickly.”
                    </p>
                  </blockquote><figcaption
                    class="mt-6 flex items-center gap-x-4">
                    <div>
                      <div class="font-semibold">Joe Robinson</div><div
                        class="text-gray-600">
                        Verified Customer
                      </div>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div><div class="space-y-8 xl:contents xl:space-y-0">
              <div class="space-y-8 xl:row-start-1">
                <figure
                  class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
                  <div class="flex-shrink-0 pb-2">
                    <span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    >
                  </div><blockquote class="text-gray-900">
                    <p>
                      “Excellent price for hosting and superb customer support.
                      I've had a few occasions to seek help, not through a fault
                      of Zume but through my lack of knowledge, and the response
                      has always been fast and helpful. Highly recommend them.”
                    </p>
                  </blockquote><figcaption
                    class="mt-6 flex items-center gap-x-4">
                    <div>
                      <div class="font-semibold">Stuart</div><div
                        class="text-gray-600">
                        Verified Customer
                      </div>
                    </div>
                  </figcaption>
                </figure>
              </div><div class="space-y-8 xl:row-span-2">
                <figure
                  class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
                  <div class="flex-shrink-0 pb-2">
                    <span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    >
                  </div><blockquote class="text-gray-900">
                    <p>
                      “Normally I write a few words and that's it, but not this
                      time! My experience with Zume has to be one of the best
                      hosting providers I've been with in twenty year period
                      I've been working on the Web.”
                    </p>
                  </blockquote><figcaption
                    class="mt-6 flex items-center gap-x-4">
                    <div>
                      <div class="font-semibold">Mark Pearce</div><div
                        class="text-gray-600">
                        Verified Customer
                      </div>
                    </div>
                  </figcaption>
                </figure><figure
                  class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
                  <div class="flex-shrink-0 pb-2">
                    <span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    >
                  </div><blockquote class="text-gray-900">
                    <p>
                      “Very good service and responsive! They are very helpful
                      and the servers are super fast, also the customer service
                      are brilliant.”
                    </p>
                  </blockquote><figcaption
                    class="mt-6 flex items-center gap-x-4">
                    <div>
                      <div class="font-semibold">Dan</div><div
                        class="text-gray-600">
                        Verified Customer
                      </div>
                    </div>
                  </figcaption>
                </figure><figure
                  class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
                  <div class="flex-shrink-0 pb-2">
                    <span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ><span
                      class="ml-0.5 inline-flex h-6 w-6 items-center justify-center rounded-sm bg-green-600"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        class="h-4 w-4 text-white"
                        ><path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    >
                  </div><blockquote class="text-gray-900">
                    <p>
                      “So far good experience with services. Quick and easy
                      setup with professional support.”
                    </p>
                  </blockquote><figcaption
                    class="mt-6 flex items-center gap-x-4">
                    <div>
                      <div class="font-semibold">Rafaqat</div><div
                        class="text-gray-600">
                        Verified Customer
                      </div>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Container>
</Layout>
