---
import { getCollection } from 'astro:content'
import { Image, getImage } from 'astro:assets'
import Layout from '@layouts/Layout.astro'
import Container from '@components/container.astro'
import Sectionhead from '@components/sectionhead.astro'

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection('team', ({ data }) => {
  return !data.draft && data.publishDate < new Date()
})

import type { Frontmatter } from '~/config'
import { SiteMetadata } from '~/config'
import coverSVG from '../assets/hero.png'
import socialImage from '../assets/hero.png'

const frontmatter: Frontmatter = {
  title: 'About' + ' | ' + SiteMetadata.title,
  description: SiteMetadata.description,
  coverSVG: coverSVG,
  socialImage: socialImage,
  publishDate: SiteMetadata.buildTime,
}
---

<Layout frontmatter={frontmatter}>
  <Container>
    <Sectionhead>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">We are a small passionate team.</Fragment>
    </Sectionhead>
    <p class="... ordinal slashed-zero tabular-nums">1234567890</p><p
      class="... slashed-zero">
      0
    </p><p class="... ordinal">1st</p>
    <div class="colors my-24 grid gap-8 md:grid-cols-2">
      <div class="flex flex-col place-content-center">
        <span class="w-full text-center">Polar Night</span>
        <div
          class="Card-eku6yp-0 mx-auto flex w-full max-w-lg flex-col overflow-hidden rounded-lg shadow">
          <div class="Palette-sc-1dpuzey-0 flex overflow-hidden">
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#2e3440"
                class="Color-ootr8m-0 h-full w-full bg-[#242933]">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #242933
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                36 41 51
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#2e3440"
                class="Color-ootr8m-0 h-full w-full bg-nord0">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #2e3440
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                46 52 64
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#3b4252"
                class="Color-ootr8m-0 h-full w-full bg-nord1">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #3b4252
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                59 66 82
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#434c5e"
                class="Color-ootr8m-0 h-full w-full bg-nord2">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #434c5e
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                67 76 94
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#4c566a"
                class="Color-ootr8m-0 h-full w-full bg-nord3">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #4c566a
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                76 86 106
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col place-content-center">
        <span class="w-full text-center">Snow Storm</span>
        <div
          class="Card-eku6yp-0 mx-auto flex w-full max-w-lg flex-col overflow-hidden rounded-lg shadow">
          <div class="Palette-sc-1dpuzey-0 flex overflow-hidden">
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#2e3440"
                class="Color-ootr8m-0 h-full w-full bg-nord4">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #d8dee9
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                216 222 233
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#3b4252"
                class="Color-ootr8m-0 h-full w-full bg-nord5">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #e5e9f0
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                229 233 240
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#434c5e"
                class="Color-ootr8m-0 h-full w-full bg-nord6">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #eceff4
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                236 239 244
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#434c5e"
                class="Color-ootr8m-0 h-full w-full bg-[#f2f4f8]">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #f2f4f8
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                242 244 248
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col place-content-center">
        <span class="w-full text-center">Frost</span>
        <div
          class="Card-eku6yp-0 mx-auto flex w-full max-w-lg flex-col overflow-hidden rounded-lg shadow">
          <div class="Palette-sc-1dpuzey-0 flex overflow-hidden">
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#2e3440"
                class="Color-ootr8m-0 h-full w-full bg-nord7">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #8fbcbb
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                143 188 187
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#3b4252"
                class="Color-ootr8m-0 h-full w-full bg-nord8">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #88c0d0
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                136 192 208
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#434c5e"
                class="Color-ootr8m-0 h-full w-full bg-nord9">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #81a1c1
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                129 161 193
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#434c5e"
                class="Color-ootr8m-0 h-full w-full bg-nord10">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #5e81ac
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                94 129 172
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col place-content-center">
        <span class="w-full text-center">Aurora</span>
        <div
          class="Card-eku6yp-0 mx-auto flex w-full max-w-lg flex-col overflow-hidden rounded-lg shadow">
          <div class="Palette-sc-1dpuzey-0 flex overflow-hidden">
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#2e3440"
                class="Color-ootr8m-0 h-full w-full bg-nord11">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #bf616a
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                191, 97, 106
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#3b4252"
                class="Color-ootr8m-0 h-full w-full bg-nord12">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #d08770
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                208, 135, 112
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#434c5e"
                class="Color-ootr8m-0 h-full w-full bg-nord13">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #ebcb8b
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                235, 203, 139
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#434c5e"
                class="Color-ootr8m-0 h-full w-full bg-nord14">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #a3be8c
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                163, 190, 140
              </div>
            </div>
            <div
              class="ColorBox-z2xj84-0 flex h-40 w-full flex-col justify-end">
              <div
                color="#434c5e"
                class="Color-ootr8m-0 h-full w-full bg-nord15">
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                #b48ead
              </div>
              <div
                class="Label-sc-1qu2uqm-0 py-1 text-center text-sm uppercase">
                180, 142, 173
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mx-auto mt-16 flex max-w-4xl flex-col gap-3">
      <h2 class="text-3xl font-bold text-gray-800">
        Empowering the world with Astro.
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        We're a multi-cultural team from around the world! We come from diverse
        backgrounds, bringing different personalities, experiences and skills to
        the job. This is what makes our team so special.
      </p>
    </div>
    <div class="mx-auto mt-12 grid max-w-4xl gap-10 md:grid-cols-3">
      {
        publishedTeamMembers.map(teamMemberEntry => (
          <div class="group">
            <div class="aspect-square w-full">
              <Image
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                width={[280]}
                height="280"
                aspectRatio="1:1"
                background="#ffffff"
                fit="cover"
                position="center"
                class="w-full rounded rounded-md transition group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">{teamMemberEntry.data.name}</h2>
              <h3 class="text-sm text-slate-500">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</Layout>
