---
import Footer from '@components/footer.astro'
import Navbar from '@components/navbar/navbar.astro'
import type { Frontmatter } from '../config'
import SEO from '../components/seo.astro'
import CustomStyles from '~/components/customstyles.astro'
import '~/css/main.css'
import '~/css/fonts.css'
import '@fontsource-variable/nunito/index.css'

export interface Props {
  frontmatter: Frontmatter
}
const preFont = '/fonts/Inter-roman-latin.var.woff2'
const { frontmatter } = Astro.props
// const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString()

// const resolvedImageWithDomain = new URL('/opengraph.jpg', Astro.site).toString()

// export interface Props {
//   title: string
// }
// const { title } = Astro.props

// const makeTitle = title
//   ? title + ' | ' + 'Astroship'
//   : 'Astroship - Starter Template for Astro with Tailwind CSS'
---

<!doctype html>
<html lang="en" x-data="darkmode">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#434c5e" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script is:inline>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      try {
        if (
          localStorage.theme === 'dark' ||
          (!('theme' in localStorage) &&
            window.matchMedia('(prefers-color-scheme: dark)').matches) ||
          document.documentElement.getAttribute('data-theme') === 'dark'
        ) {
          document.documentElement.classList.add('dark')
          document.documentElement.setAttribute('data-theme', 'dark')
          localStorage.theme = 'dark'
        } else {
          document.documentElement.classList.remove('dark')
          document.documentElement.setAttribute('data-theme', 'light')
        }
      } catch (_) {}
    </script>
    <link
      rel="preload"
      href={preFont}
      as="font"
      type="font/woff2"
      crossorigin
    />
    <CustomStyles />
    <SEO frontmatter={frontmatter} />
    {
      /* JS comment syntax is also valid

    Can we ask you a favor 🙏
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com

    <link
      rel="preload"
      href={preFont}
      as="font"
      type="font/woff2"
      crossorigin
    />
    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <!--
      SEO from Astroship / stablo
      SEO LD from https://github.com/hellotham/hello-astro/
      <SEO
      title={makeTitle}
      description="Astroship is a starter website template for Astro built with TailwindCSS."
      canonical={canonicalURL}
      twitter={{
        creator: '@surjithctly',
        site: '@web3templates',
        card: 'summary_large_image',
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: 'website',
          title: `Astroship - Starter Template for Astro`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: 'Astroship Homepage Screenshot',
        },
      }}
    /> -->
    */
    }
  </head>
  <body class="bg-background text-text">
    <div
      class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
      aria-hidden="true">
      {/* from-[#ff80b5] to-[#9089fc] */}
      <div
        class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-primary to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
      </div>
    </div>

    <header>
      <Navbar />
    </header>
    <main class="transition-fade">
      <slot />
    </main>
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>

    <script src="../js/main.js"></script>

    <script>
      import KonamiCode from '~/js/konamicode.js'
      // In your script file
      KonamiCode.init(undefined, 3000) // Reset after 3 seconds of inactivity
    </script>
  </body>
</html>
